<%= render "shared/header" %>

<div class="main">
  <div class="top-image">
    <%= image_tag("ballpark.png", class: "ballpark-img") %>
    <div class="image-text">
      MLBをより身近に
    </div>
  </div>
  <div class="main-contents">
    <div class="headline-search">
      <div class="articles-headline">
        投稿記事一覧
        <i class="fa-solid fa-newspaper"></i>
      </div>
      <div class="search">
        <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |f| %>
          <%= f.text_field :keyword, placeholder: "キーワードで検索", class: "search-input" %>
          <%= f.submit "検索", class: "search-btn" %>
        <% end %>
      </div>
    </div>
    <%= render partial: "shared/article", collection: @articles %>
  </div>
</div>

<%= render "shared/footer" %>