<%= render "shared/header" %>

<div class="show-box">
  
  <div class="show-article">
    
    <div class="show-title">
      <%= @article.title %>
    </div>

    <div class="favorite-icon">
      <i class="fa-regular fa-heart"></i>
    </div>

    <div class="show-post-user-date"> 
      <div class="show-post-user">
        投稿者：<%= link_to @article.user.nickname, user_path(@article.user), class: "show-post-user-link" %>
      </div>
      
      <div class="show-date">
        <%= @article.created_at %>
      </div>
    </div>
    
    <div class="show-team-btns">
      <div class="show-team">
        関連するチーム：<%= link_to @article.team.name, "#", class: "show-team-link" %>
      </div>
      <div class="show-btns">
        <% if current_user.id == @article.user.id %>
          <div class="show-btn">
            <%= link_to "編集", edit_article_path(@article), class: "show-edit-link" %>
          </div>
          <div class="show-btn">
            <%= link_to "削除", article_path(@article), method: :delete, class: "show-destroy-link" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="show-image-box">
      <% if @article.image.present? %>
        <%= image_tag(@article.image, class: "show-image") %>
      <% else %>
        <%= image_tag("no_img.png", class: "show-no-image") %>
      <% end %>
    </div>

    <div class="show-content">
      <pre class="content">
        <%= simple_format(@article.content) %>
      </pre>
    </div>

    <div class="show-back-btn-box">
      <%= link_to 'トップページにもどる', root_path, class: "show-back-btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>