<%= render "shared/header" %>

<div class="show-box">
  
  <div class="show-article">
    
    <div class="show-title">
      <%= @article.title %>
    </div>

    <div class="favorite-icon" id="like-btn<%= @article.id %>">
      <%= render partial: "shared/like", locals: { article: @article } %>
    </div>

    <div class="show-post-user-date"> 
      <div class="show-post-user">
        投稿者：<%= link_to @article.user.nickname, user_path(@article.user), class: "show-post-user-link users" %>
      </div>
      
      <div class="show-date">
        <%= l @article.created_at %>
      </div>
    </div>
    
    <div class="show-team-btns">
      <div class="show-team">
        関連するチーム：<%= @article.team.name %>
      </div>
      <div class="show-btns">
        <% if current_user == @article.user %>
          <%= link_to "編集", edit_article_path(@article), class: "edit-destroy-btn" %>
          <%= link_to "削除", article_path(@article), method: :delete, class: "edit-destroy-btn" %>
        <% end %>
      </div>
    </div>

    <div class="show-article-tags">
      <i class="fa-solid fa-tags tag-icon"></i>
      <% if @article.tags.present? %>
        <% @article.tags.each do |article_tag| %>
          <%= link_to article_tag.name, tag_search_path(tag_id: article_tag.id), class: "tags" %>
        <% end %>
      <% else %>
        <span class="no-tag-message">
          タグがつけられていません
        </span>
      <% end %>
    </div>

    <div class="show-image-box">
      <% if @article.image.present? %>
        <%= image_tag(@article.image, class: "show-image") %>
      <% else %>
        <%= image_tag("no_img.png", class: "show-no-image") %>
      <% end %>
    </div>

    <div class="show-contents">
      <%= @article.contents %>
    </div>
  </div>

  <div class="show-comments">
    <div class="comments-headline">
      コメント
      <i class="fa-regular fa-comment"></i>
    </div>
    <div class="comment-main">
      <% @comments.each do |comment| %>
        <div class="comments">
          <div class="comment-user-date">
            <div class="comment-user">
              <%= link_to comment.user.nickname, user_path(comment.user), class: "comment-user-link" %><span class="honorific">さん</span>
            </div>
            <div class="comment-date">
              <%= l comment.created_at %>
            </div>
          </div>
          <div class="comment-text-box">
            <pre class="comment-text">
              <%= simple_format(comment.text) %>
            </pre>
          </div>
        </div>
      <% end %>
      <div class="comment-form-area">
        <div class="comment-form-headline">
          コメントする
        </div>
        <div class="comment-form-box">
          <% if user_signed_in? %>
            <%= form_with(model: [@article, @comment], local: true) do |f| %>
              <div class="show-comment-form">
                <%= f.text_area :text, placeholder: "コメントを入力", class: "comment-form"%>
              </div>
              <div class="show-comment-btn">
                <%= f.submit "コメントする", class: "comment-submit-btn"%>
              </div>
            <% end %>
          <% else %>
            <div class="comment-alert">
              ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to 'トップページにもどる', root_path, class: "show-back-btn back-btns" %>
</div>

<%= render "shared/footer" %>