<%= render "shared/header" %>

<div class="tag-search-main">
  <div class="search-result-message">
    <i class="fa-solid fa-magnifying-glass"></i>
    タグ " <%= @tag.name %> " での検索結果
  </div>
  <div class="tag-search-result">
    <% if @articles.present? %>
      <%= render partial: "shared/article", collection: @articles %>
      <div class="pagination">
        <%= paginate @articles %>
      </div>
    <% else %>
      <div class="no-article-message">
        該当する記事は見つかりませんでした
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>