<%= render "shared/header" %>

<div class="team-search-main">
  <div class="search-result-message">
    <i class="fa-solid fa-magnifying-glass"></i>
    " <%= @team.name %> " での検索結果
  </div>
  <div class="team-search-articles">
    <% if @articles.present? %>
      <%= render partial: "shared/article", collection: @articles %>
      <div class="pagination">
        <%= paginate @articles %>
      </div>
    <% else %>
      <div class="no-articles">
        投稿された記事がありません
      </div>
    <% end %>
  </div>
  <%= render "shared/to_top_page_btn" %>
</div>

<%= render "shared/footer" %>