<%= render "shared/header" %>

<div class="mypage-main">
  <div class="mypage-message">
    <%= @user.nickname %>さんのマイページ
    <i class="fa-solid fa-house-circle-check"></i>
  </div>
  <div class="user-info">
    <div class="profile-follow">
      <div class="profile-headline">
        <%= @user.nickname %>さんのプロフィール
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="follow">
        <% if @user != current_user %>
          <% if @user.followed_by?(current_user) %>
            <%= link_to "フォロー中", user_relationships_path(@user.id), class: "unfollow-btn", method: :delete %>
          <% else %>
            <%= link_to "フォロー", user_relationships_path(@user.id), class: "follow-btn", method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="profile">
      <div class="following-follower">
        <button class="profile-following-btn" id="show-followings">
          <%= @user.followings.length %>フォロー
        </button>
        <button class="profile-follower-btn" id="show-followers">
          <%= @user.followers.length %>フォロワー
        </button>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">お気に入りチーム</th>
            <td class="table__col2"><%= "#{@user.favorite_team.name}" %></td>
          </tr>
          <tr>
            <th class="table__col1">お気に入り選手</th>
            <td class="table__col2">
              <% if @user.favorite_player.present?%>
                <%= "#{@user.favorite_player}" %>
              <% else %>
                <div class="blank">
                  ---
                </div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="user-followings" id="user-followings">
    <div class="user-followings-headline">
      <%= @user.nickname %>さんがフォローしているユーザー
      <i class="fa-solid fa-person-circle-plus"></i>
    </div>
    <div class="followings">
      <% if @user.followings.present? %>
        <div class="following">
          <% @user.followings.each do |following| %>
            <div class="follow-box">
              <%= link_to following.nickname, user_path(following), class: "following-name users" %>
              <div class="follow-btns">
                <% if following != current_user %>
                  <% if following.followed_by?(current_user) %>
                    <%= link_to "フォロー中", user_relationships_path(following.id), class: "unfollow-btn", method: :delete %>
                  <% else %>
                    <%= link_to "フォロー", user_relationships_path(following.id), class: "follow-btn", method: :post %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="no-following-message">
          <%= @user.nickname %>さんがフォローしているユーザーはいません
        </div>
      <% end %>
    </div>
  </div>
  <div class="user-followers" id="user-followers">
    <div class="user-followers-headline">
      <%= @user.nickname %>さんのフォロワー
      <i class="fa-solid fa-person-circle-plus"></i>
    </div>
    <div class="followers">
      <% if @user.followers.present? %>
        <div class="follower">
          <% @user.followers.each do |follower| %>
            <div class="follow-box">
              <%= link_to follower.nickname, user_path(follower), class: "follower-name users" %>
              <div class="follow-btns">
                <% if follower != current_user %>
                  <% if follower.followed_by?(current_user) %>
                    <%= link_to "フォロー中", user_relationships_path(follower.id), class: "unfollow-btn", method: :delete %>
                  <% else %>
                    <%= link_to "フォロー", user_relationships_path(follower.id), class: "follow-btn", method: :post %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="no-follower-message">
          <%= @user.nickname %>さんのフォロワーはいません
        </div>
      <% end %>
    </div>
  </div>

  <div class="user-articles">
    <div class="user-articles-headline">
      <%= @user.nickname %>さんが投稿した記事
      <i class="fa-solid fa-newspaper"></i>
    </div>
    <div class="user-article">
      <% if @articles.present? %>
        <%= render partial: "shared/article", collection: @articles %>
        <div class="pagination">
          <%= paginate @articles %>
        </div>
      <% else %>
        <div class="no-user-article-message">
          <%= @user.nickname %>さんが投稿した記事はありません
        </div>
      <% end %>
    </div>
  </div>
  <div class="user-like-articles">
    <div class="user-like-articles-headline">
      <%= @user.nickname %>さんがいいねした記事
      <i class="fa-solid fa-heart"></i>
    </div>
    <div class="user-like-article">
      <% if @likes.present? %>
        <% @likes.each do |like| %>
          <div class="articles-area">
            <div class="left-content">
              <div class="title">
                <%= link_to like.article.title, article_path(like.article), class: "title-link" %>
              </div>
              <div class="team">
                関連するチーム：<%= link_to like.article.team.name, "#", class: "team-link" %>
              </div>
              <div class="post-like" id="like-btn<%= like.article.id %>">
                <%= render partial: "shared/like", locals: { article: like.article } %>
              </div>
              <div class="post-user-date-box">
                <div class="post-user-date">
                  <div class="post-user">
                    投稿者：<%= link_to like.article.user.nickname, user_path(like.article.user), class: "post-user-link" %>
                  </div>
                  <div class="post-date">
                    投稿日時：<%= l like.article.created_at %>
                  </div>
                </div>
              </div>
            </div>
            <div class="right-content">
              <% if like.article.image.present? %>
                <%= link_to image_tag(like.article.image, class: "image"), article_path(like.article) %>
              <% else %>
                <%= image_tag("no_img.png", class: "no-image") %>
              <% end %>
            </div>
          </div>
        <% end %>
        <%#= paginate @likes %>
      <% else %>
        <div class="no-user-like-article-message">
          <%= @user.nickname %>さんがいいねした記事はありません
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>