<div class="articles-area">
  <div class="left-content">
    <div class="title">
      <%= link_to article.title, article_path(article), class: "title-link" %>
    </div>
    <div class="team">
      関連するチーム：<%= article.team.name %>
    </div>
    <div class="post-like" id="like-btn<%= article.id %>">
      <%= render partial: "shared/like", locals: { article: article } %>
    </div>
    <div class="post-user-date-box">
      <div class="post-user-date">
        <% if user_signed_in? %>
          <div class="post-user">
            投稿者：<%= link_to article.user.nickname, user_path(article.user), class: "post-user-link users" %>
          </div>
        <% else %>
          <div class="post-user-link">
            投稿者：<%= article.user.nickname %>
          </div>
        <% end %>
        <div class="post-date">
          投稿日時：<%= l article.created_at %>
        </div>
      </div>
    </div>
  </div>
  <div class="right-content">
    <% if article.image.present?%>
      <%= link_to image_tag(article.image, class: "image"), article_path(article) %>
    <% else %>
      <%= image_tag("no_img.png", class: "no-image") %>
    <% end %>
  </div>
</div>