<div class="new-article">
  <div class="article-form">
    <%= form_with model: @article, id: 'new_post', local: true do |f| %>
      
      <%= render 'shared/error_messages', model: f.object %>

      <div class="genre-image">
        <div class="genre-headline">
          <i class="fa-solid fa-clipboard-question fa-xl"></i>
          どのチームに関する記事ですか？
        </div>
        <div class="pulldown-icon">
          <div class="pulldown">
            <%= f.collection_select(:team_id, Team.all, :id, :name, {}, {id:"item-category", class: "team-form"}) %>
          </div>
          <div class="article-image">
            <label class="form-image">
              <i class="fa-solid fa-image fa-2xl article-icon"></i>
              <%= f.file_field :image, class: "image-form" %>
              <% if @article.new_record? %>
                <span class="image-message">画像を選択</span>
              <% else %>
                <% if @article.image.present? %>
                  <span class="image-message">画像を変更</span>
                <% else %>
                  <span class="image-message">画像が選択されていません</span>
                <% end %>
              <% end %>
            </label>
          </div>
        </div>
        <div id="previews" class="previews">
        </div>
      </div>
      <div class="article-main-area">
        <div class="article-title">
          <%= f.text_field :title, class: "title-form", placeholder: "タイトル" %>
        </div>

        <div class="article-tags">
          <%= f.text_field :name, value: @tag_list, class: "tag-form", placeholder: '","で区切ってタグを入力' %>
        </div>

        <div class="article-contents">
          <%= f.rich_text_area :contents, class: "contents-form", id: "contents-form", placeholder: "本文" %>
        </div>

        <div class="btn-contents">
          <% if @article.new_record? %>
            <%= f.submit "投稿する" ,class: "post-btn" %>
          <% else %>
            <%= f.submit "更新する" ,class: "post-btn" %>
          <% end %>
          <%= render "shared/to_top_page_btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>